
// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: #fdfdfd;
  padding-top: 80px;
  font-family: 'Montserrat' !important;
}

.item-test {
  position: relative;
  min-height: 265px;
  overflow: hidden;
  & .abs-pos {
    top: 0;
  }
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
